<%-include("../../views/partials/user/header")%>
    <!-- Header part end-->


    <!--================login_part Area =================-->
    <section class="login_part padding_top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            <h2>New to our Shop?</h2>
                            <p>There are advances being made in science and technology
                                everyday, and a good example of this is the</p>
                            <a href="/signup" class="btn_3">Create an Account</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h3>
                                Please enter your email in now</h3>
                            <form id="forgetPass" class="row contact_form" action="/forgetPassValid" method="post" novalidate="novalidate">
                                <% if(locals.message && message.length>0){%>
                                    <div style="color: red;margin-left: 3cm;" >
                                     <%=message%>
                                    </div>
                               <%}%>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="email" name="email" value=""
                                        placeholder="Email">
                                        <div id="error" class="errormessage"></div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <button type="submit" value="submit" class="btn_3">
                                        Next
                                    </button>
                                  
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================login_part end =================-->

    <%-include("../../views/partials/user/footer")%>

    <script>
        const forgetPass = document.getElementById('forgetPass');
        const error1 = document.getElementById('error');


        forgetPass.addEventListener("submit", (e) => {
        emailValidateChecking();
    
        if (
            error1.classList.contains("show-error") 
        ) {
            e.preventDefault();  
        }
    });


    function emailValidateChecking() {
        const emailInput = document.getElementById('email').value.trim();
        const emailPattern = /^[^ ]+@[^ ]+\.[a-z]{2,3}$/;
        if(emailInput===""){
            error2.textContent = "email is required";
            error2.classList.add("show-error");
        }else if (!emailInput.match(emailPattern)) {
            error2.textContent = "Please enter a valid email";
            error2.classList.add("show-error");
        } else {
            error2.textContent = "";
            error2.classList.remove("show-error");
        }
    }


    </script>
    