

  <%-include("../partials/user/header")%>
    <!--================Home Banner Area =================-->
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="breadcrumb_iner">
              <div class="breadcrumb_iner_item">
                <h2>Wishlist</h2>
                  
                    <li style="float: left;" class="breadcrumb-item"><a href="/homepage">Home</a></li>
                    <li  style="float: left;" class="breadcrumb-item active" aria-current="page">Cart</li>
                
          
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- breadcrumb start-->
  
    <!--================Cart Area =================-->
    <section class="cart_area padding_top">
      <div class="container">
        <div class="cart_inner">
          <div class="table-responsive">
            <table class="table">
             
              <thead>
                <tr>
                  <th scope="col">Image</th>
                  <th scope="col">Product</th>
                  <th scope="col">Price</th>
                  <th scope="col">Add Cart</th>
                </tr>
              </thead>
              <tbody>
                
         
                <tr>
                  <td>
                  
                       kkkkk
                  </td>
                  <td>
                    ggh
                  </td>
                  <td>
                   tyui
                  </td>
                  
                   <td>
                    tyu
                  </td>
  
            
                </tr>
          
        
            </tbody>
            
       
            </table>
            <div class="checkout_btn_inner float-right">
              <a class="btn_1" href="/products">Continue Shopping</a>
            </div>
          </div>
        </div>
    </section>
    <!--================End Cart Area =================-->
  
    <%-include("../partials/user/footer")%>
  
    